
<script src="/js/login.js"></script>
    <fieldset>
        <legend> Login </legend>
    Email: <br><input type="text" name="email"  require><br>
    Password: <br><input type="text" name="email"  require><br>
    <button id="editdescription"   > Signin </button> <br />
    <p style="margin-bottom:10px"> or signin  using </p>
    <button id="googlesignin" style="width:50px;background-color:#dd4b39"  > Google </button> 
    <button id="facebooksignin" style="width:65px;background-color:#3b5998"  > Facebook </button> 
    <button id="twittersigin" style="width:50px;background-color:#55ACEE"  > Twitter </button> 
    <button id="gitsignin" style="width:50px;background-color:#80FF80"  > Github </button> 
    <br />
    <p>I don't have an account <button id="signup" style="width:50px"  > Signup </button>  </p>
    </fieldset>
