<script src="/js/issue.js"></script>
<div class="container">

<div class="page-header" style="margin-left:-362px;margin-top:-35px;margin-bottom:-10px"> 
    <h3>Create a ticket</h3>
</div>
<!-- Registration form - START -->
<div class="container">
    <div class="row" style="width:40%;margin-left:20%; margin-top:-10px">
        <form role="form" id="issue">
        <input type="hidden" id="uid" value="{{uid}}" />
        <input type="hidden" unameid="uname" value="{{uname}}" />
            <div class="col-lg-6" >
                <span id="result" ></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Enter subject"  required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <select  name="priority" class="form-control" id="priority" required>
                          <option value="">Please select the severity</option>
                          <option value="Critical">Critical</option>
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <textarea rows="4" class="form-control" cols="75" id="description" placeholder="Describe the issue here..." required></textarea> 
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                         <select  name="department" id="department" class="form-control" value="{{department}}" required>
                          <option value="">Please select your department</option>
                          <option value="Finance">Finance</option>
                          <option value="Operations">Operations</option>
                          <option value="Marketing">Marketing</option>
                          <option value="Sales">Sales</option>
                          <option value="Success">Success</option>
                          <option value="Training">Training</option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <select  name="notifymeans" id="notifymeans" class="form-control"  >
                        <option value="">Select Notification method</option>
                        <option value="phone">SMS</option>
                        <option value="email">Email</option>
                      </select> 
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="notifyvalue" id="notifyvalue" class="form-control" 
                      placeholder="Enter contact" required/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
<!-- Registration form - END -->

</div>
