
<script src="/js/login.js"></script>
<div class="container">

<div class="page-header" style="margin-left:-362px;margin-top:-30px;margin-bottom:-7px"> 
    <h3>Login Panel </h3>
</div>
<!-- Registration form - START -->
<div class="container">
    <div class="row" style="width:40%;margin-left:20%; margin-top:-10px">
        <form role="form" id="signin">
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email"
                        required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"  required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">

            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row" style="width:40%;margin-left:20%; margin-top:2px">
        <p class="bg-success">Or signin using</p>
        <button id="googlesignin" style="background-color:#dd4b39"  > Google </button> 
        <button id="facebooksignin" style="background-color:#3b5998"  > Facebook </button> 
        <button id="twittersigin" style="background-color:#55ACEE"  > Twitter </button> 
        <button id="gitsignin" style="background-color:#80FF80"  > Github </button> 
    </div>
</div>
<div class="container">
    <div class="row" style="width:40%;margin-left:20%; margin-top:2px"> 
        I don't have an account <button id="signup" class="btn btn-info" > Signup </button> 
    </div>
</div>

</div>
