<script src="/js/todo.js"></script>
<link rel="stylesheet" type="text/css" href="/css/issue.css">

<div class="issue" id="issue" >
    <div class="issueheader">
        <p class="raisedBy"  >okoro okwudiri</p>
        <p class="subject"  > testing issue</p>
        <p class="raisedDate"  >12/12/100</p>
        
    </div>
    <p class="description"  >http://testing </p>
    <div class="issuefooter">
        <p class="raisedBy"  >Success</p>
        <p class="subject"  >
         In progess
         <button type="button"  class="fixed" id="todolist">fixed </button>
         <button type="button"  class="fixed" id="todolist1">comment </button>
        </p>
        <p class="raisedDate"  >12/12/100</p>
    </div>

</div>